<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
<div class="head">
  <div class="menuhead">head</div>
  <ul class="menuul">
    <li class="menuli">首页</li>
    <li class="menuli">技术分享</li>
    <li class="menuli">文学分享</li>
<!--    
{% for i in skilltags %}
<span>{{i.tag}}</span>
{% endfor %}

{% for i  in inktags %}
<span>{{i.tag}}</span>
{% endfor %}
-->
  </ul>

</div>

<div class="content">
{% block content%}
{% endblock %}
</div>
</body>
</html>
