.md{
    height:600px;
    width:80%;
    //border:solid 1px #bbbbbb;
    margin:auto;
    }

.mdeditor{
    display:flex;
    border:solid 1px gainsboro;
    height:100%;
    width:90%;
    margin:auto;
    }
.mdeditor>.mddocs{
    background-color:white;                       
    display:flex;
    flex:1;
    }
.mdeditor>.mdhtml{
    background-color:whitesmoke;                       
    display:flex;
    flex:1;
    }
.mdeditor>.mddocs>.mddocs-val{
    resize:none;
    margin:0;
    padding:1.5em;
    border:0;
    flex:1;
    }
.mdeditor>.mdhtml>.mdhtml-val{
    padding:1.5em;
    flex:1;
    overflow-x:auto;
    word-break:break-word;
    }
.mdhtml-val pre,.mdhtml-val code{
    font-family: Roboto, 'Courier New', Consolas, Inconsolata, Courier, monospace;
    margin:auto 5px;
    font-size:14px;
    }
.mdhtml-val pre {
    display:block;!important;
    border:solid 1px gainsboro;
    background:aliceblue;
    border-radius:6px;    
    padding:6px;

    }

.mdhtml-val pre>code{
    display: block !important;
    border:none;
    border-radius:5px;
    background:transparent;
    white-space:pre;
    overflow:auto;
    padding:1px 1px;
}

.mdhtml-val code {
    display:inline;
    border:solid 1px gainsboro;
    border-radius:5px;
    background:aliceblue;
    white-space:pre-wrap;

    }


.mdhtml-val blockquote {
  border-left: 2px solid #009688;
  padding: 0 10px;
  color: #777;
  quotes: none;
  margin:0 0 0 1em;
}

.mdhtml-val blockquote::before,.mdhtml-val blockquote::after{
  content: none;
}

.mdhtml-val strong,.mdhtml-val b{
    color:crimson;
    padding:0 5px;
    }
.mdhtml-val em,.mdhtml-val i {
    color:#009688;
    padding:0 5px;
    }
.mdhtml-val hr {
    border: 1px solid CornflowerBlue;
    margin: 1.5em auto;
    }

.mdhtml-val p { 
    margin: 1.5em 5px !important;
    }

.mdhtml-val table,.mdhtml-val pre,
.mdhtml-val dl,.mdhtml-val blockquote,
.mdhtml-val q,.mdhtml-val ul,.mdhtml ol{
    margin:10px 5px;
    }


.mdhtml-val ul,.mdhtml-val ol{
    padding-left: 15px;    
    }

.mdhtml-val li {
    margin:10px;
    }

.mdhtml-val li p {
    margin: 10px 0 !important;    
    }

.mdhtml-val ul ul,.mdhtml-val ul ol,
.mdhtml-val ol ul,.mdhtml-val ol ol {
  margin: 0;
  padding-left: 10px;
}

.mdhtml-val h1,.mdhtml-val h2,.mdhtml-val h3,
.mdhtml-val h4,.mdhtml-val h5,.mdhtml-val h6 {
  margin: 0.6em 0;
  padding-bottom: 10px;
  border-bottom: solid 2px #ddd;
}
.mdhtml-val h1 {
    font-size: 3em !important;
    }
.mdhtml-val h2 {
    font-size: 2.5em !important;
    }   
.mdhtml-val h3 {
    font-size: 2em !important;
    }
.mdhtml-val h4 {
    font-size: 1.5em !important;
    }
.mdhtml-val h5 {
    font-size: 1em !important;    
    }
.mdhtml-val h6 {
    font-size: 0.5em !important;    
    }


.mdhtml-val table {
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;
  font: inherit;
  border: 0;
  margin: 0 auto;
}

.mdhtml-val tbody {
  margin: 0;
  padding: 0;
  border: 0;
}

.mdhtml-val table tr {
  border: 0;
  border-top: 1px solid #CCC;
  background-color: white;
  margin: 0;
  padding: 0;
}

.mdhtml-val table tr:nth-child(2n) {
  background-color: #F8F8F8;
}

.mdhtml-val table tr th,.mdhtml-val table tr td {
  font-size: 16px;
  border: 1px solid #CCC;
  margin: 0;
  padding: 5px 10px;
}

.mdhtml-val table tr th {
  font-weight: bold;
  color: #eee;
  background-color: #009688;
}

