{% extends "layout.html"%}
{% block content %}

  {% for article in articles %}
            <span>{{article.title}}</span>
            <span>{{article.tag}}</span>
            <span>{{ article.updatetime }}</span>
            <span>{{article.intro}}</span>
            <a href="/skill/article?contentid={{article.id}}"><<< 全文阅读 >>></a>
  {% endfor%}
        <span>
            <a href="/skill?tag={{tag}}&page={{page-1}}">上一页</a>
        </span>
        <span style="color:lime;">{{page||1}}</span>
        <span>/ </span>
        <span style="color:green;">{{pages||1}}</span>
        <span>
            <a href="/skill?tag={{tag}}&page={{page+1}}">下一页</a>
        </span>
{% endblock%}
