<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <title>{{process.env.TITLE||"test"}}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen and (min-width:768px)" href="#">
    <link rel="stylesheet" type="text/css" media="screen and (max-width:768px)" href="#">
    <script type="text/javascript" src="#"></script>
</head>
<body>
<a href="/skill"><strong>首页</strong></a>
<div>             
  <ul>
    {%for i in tags %}
     <li>
      <a href="/skill?tag={{i.tag}}">{{i.tag}}</a>
     </li>
    {% endfor %}
  </ul>
</div>
{%  block content %}
    
{% endblock %}
</body>
</html>
