.edit{
    padding:2em;
    }

.edit-header{
    height:100px;
    width:100%;
    }

.edit-form {
    text-align:center;
    }

.form-header span {
    display:block;
   
    }
.formbtn {
    display:block;
    margin:0 auto;
    border: outset 2px #bbbbbb;
    border-radius:8px;
    height:30px;
    width:80px;
    
    }


.edit-footer{
    height:50px;
    width:100%;
    background-color:blue;
    bottom:0;
    }
