html, body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    }

.head{
    position:fixed;
    height:100%;
    width:200px;
    background:#5a8eea;
    }
.content {
    margin-left:200px;
    background:#bbbbbb;
    }

.menuhead{
    padding-left:25px;
    height:50px;
    line-height:50px;
    font-weight:600;
    color:white;
    font-size:1.6em;
    }
.menuul{
    padding:0;
    }
.menuli{
    list-style-type:none;
    font-size:1.2em;
    background:#5a8eea;
    border-bottom:solid 1px #3878ea;
    padding-left:25px;
    line-height:38px;
    }
.menuli:hover{
    background:#3878ea;
    }
.menulul>li.active{
    background:#3878ea;    
    }



